@import url('//fonts.googleapis.com/css?family=Raleway');

html, body {
  background: #000000 url('/img/grid.png') repeat !important;
  background-size: 25% !important;
  background-attachment: scroll;

	color: #eeeeee;
	font-weight: 200;
}

a {
	color: #ffffff !important;
}

a:hover {
	text-decoration: underline;
}

.inverted {
	background: none !important;
}

.inverted .label {
	color: #fff !important;
}

.landing-bottom {
  background: url('/img/horizon.jpg') !important;
  height: 500px;
  z-index: -10;
}

.bottom-navigation {
	background: #000000 !important;
}

.RenderPolygons {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	min-height: 100%;
	min-width: 100%;
	z-index: -1;
}
