@import url('//fonts.googleapis.com/css?family=Lato:100');
@import url('//fonts.googleapis.com/css?family=Orbitron&effect=neon');

@font-face {
  font-family: 'HighSpeed';
	/* src: url('webfont.eot'); /* IE9 Compat Modes */
  /* src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  /* url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
  /* url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
  /* url('/psvgwebfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	src: url('/svg/HighSpeed.svg#HighSpeed') format('svg'); /* Legacy iOS */
}

* {
  /* Calculation */
  --diff: calc(var(--max-size) - var(--min-size));
  --responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - 420px) / (1200 - 420))); /* Ranges from 421px to 1199px */
}

body {
	background-color: #ffffff;
	color: #111111;
	font-weight: 200;
}
p {
	font-size: 2em;
}
#root {
	/*
  	background: url('/img/grid.png') repeat !important;
  	background-size: 10% !important;
  	background-attachment: scroll;
  */
}

a {

}
a:hover {
	text-decoration: underline;
}

.landing-top {
  background: none !important;
	z-index: -2;
}
.landing-bottom {
/**
	background-image: url('/img/atmosphere-at-sunrise.png') !important;
	background-repeat: no-repeat;
	background-size: 100% !important;
	background-position: center bottom;
	z-index: -5;
*/
}
.bottom-navigation {
	background: #111111 !important;
  z-index: -2;
}

.RenderPolygons {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.ui {
	background: none !important;
	border-radius: 0 !important;
	z-index: 5;
}

.ui,
.ui .accordion,
.ui.attached.header,
.ui.accordion .title,
.ui.accordion .title:not(.ui),
.ui .accordion .content,
.ui .segment {
		border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
	  -webkit-filter: none;
		filter: none;
}
.ui .accordion .content {
	border-bottom: 1px dotted #F15A24;
}

.ui.secondary.pointing.menu .item {
	font-weight: 100;
}

.ui .divider {
	font-weight: 100;
	text-transform: uppercase;
	font-size: 3em;
}

.ui .statistics .statistic {
	border-bottom: 1px solid #ccc;
	margin-bottom: 1em;
}
.ui .statistics .statistic > .value,
.ui .statistics .statistic > .label {
	font-weight: 100;
	text-transform: uppercase;
	text-align: left;
}
.ui .statistics .statistic > .label {
	order: 1;
}
.ui .statistics .statistic > .value {
	order: 2;
}

.ui .card,
.ui.cards > .card {
	border: none;
	border-bottom: 1px dotted #ccc;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	-webkit-filter: none;
	filter: none;
}
.ui.cards > .card >.content > * {
	font-size: 1em;
	font-weight: 300 !important;
	color: #F15A24 !important;
}
.ui.cards > .card >.content > * {
	font-weight: 300 !important;
	color: #F15A24 !important;
}

.logo {
		text-shadow:
			0 0 5px #fff,
			0 0 10px #ace,
			0 0 30px #1af,
			0 0 40px #19e,
			0 0 50px #08c,
			0 0 60px #038;
}

.matrixfont {
	font-family: 'HighSpeed', Fallback, sans-serif;
}
.introtext {
	/*
	margin-left:10%;
	margin-right:10%;
	*/
  --max-size: 40;
  --min-size: 20;
  font-size: var(--responsive);
  line-height: 1.2;
  word-wrap: none;
  text-align: left;
}

.spaceglow {
	color: #F15A24;
	-webkit-filter: drop-shadow(
			0 0 60px #038
	);
	filter: drop-shadow(
			0 0 60px #038
	);
}

.countdown-wrapper {
	/*
	margin-left:10%;
	margin-right:10%;
	*/
}

.countdown {
  margin-top: .5em;
	margin-bottom: .5em;
	height: auto;
	display: flex;
	flex-wrap: none;
	flex-shrink: 0;
	flex-grow: 0;
	align-items: center;
	justify-content: center;
	/*width: 100%;*/
	/*font-family: 'Orbitron', sans-serif;*/
	/*font-family: 'HighSpeed', Fallback, sans-serif;*/
	font-family: 'Lato', Fallback, sans-serif;
  --max-size: 100;
  --min-size: 40;
  font-size: var(--responsive);
	color: #F15A24;
}

.countdown .dd,
.countdown .hh,
.countdown .mm,
.countdown .ss {
}
